* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

.profile {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  margin-left: 2%;
}

.summery {
  display: inline-block;
  width: 59%;
  margin-left: 28px;
  margin-top: 80px;
  color: #344780;
}

.description {
  font-size: 20px;
  padding-top: 30px;
  margin-bottom: 90px;
  letter-spacing: -0.1px;
  line-height: 28px;
}

.heading {
  color: #344780;
  font-size: 33px
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-top: 82px;
  margin-left: 83px;
  margin-bottom: 20px;
}

.name {
  text-align: center;
  color: #344780;
  margin-left: 1%;
  margin-bottom: 20px;
  margin-top: 10px;
}

.role {
  margin-bottom: 40px;
  margin-left: 20%;
  color: #616e9d;
  font-size: 23px;
}

.container {
  text-align: left;
  color: #44568b;
  font-weight: bold;
  font-size: 16px;
  margin-left: 40px;
  line-height: 55px;
}

.download {
  margin-top: 40px;
  background-color: #377cfe;
  color: white;
  border: none;
  padding: 12px 40px;
  font-size: 15px;
  height: 50px;
  border-radius: 8px;
}

i {
  color: #babed0;
  width: 14px;
  height: 14px;
  padding-left: 15px;
  padding-right: 14px;
}

.container div p {
  display: inline-block;
}

.hr {
  border-top: 1.4px;
  color: gray;
  width:85%;
  margin-right: 80px;
  opacity: 0.2;
}

.summery .experience {
  display: inline-block;
  font-size: 24px;
  margin-top: 30px;
}

.summery .work-type {
  display: inline-block;
  margin-left: 41%;
}

.summery .work-type .work-type-intern {
  margin-left:88%;
}
.work-type p {
  background-color: #d7ffe0;
  font-weight: bold;
  width: 100px;
  border-radius: 20px;
  text-align: center;
  padding: 3px 15px 0px 15px;
}

.company {
  display: inline-block;
  color: #babed0;
}

.location {
  display: inline-block;
  color: #babed0;
}

.work-duration {
  display: inline-block;
  color: #babed0;
}

.work-duration img {
  display: inline-block;
}

.work-duration p {
  display: inline-block;
}

.summery .left-content {
  display: inline-block;
  margin-right: 20px;
}

.summery .right-content {
  display: inline-block;
  width: 55%;
  text-align: right;
}

.summery .left-container {
  display: inline-block;
  margin-right: 30px;
}

.summery .right-container {
  display: inline-block;
  margin-left: 10px;
}

.summery .right-content .work-duration {
  text-align: right;
}

.education-content {
  padding-top: 40px;
  padding-bottom: 100px;
}

.college div {
  color: #babed0;
  padding-bottom: 20px;
  display: inline-block;
}

.college-name img {
  display: inline-block;
  width:14px;
  height:14px;
}

.college-name p {
  display: inline-block;
}

.course-name {
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  padding-bottom: 5px;
}

.college-duration {
  margin-left: 17%;
}

.college-duration img {
  display: inline-block;
  padding-left: 0;
  width:14px;
  height:14px;
}

.college-duration p {
  display: inline-block;
}

hr {
  border-top: 1.4px solid gray;
  opacity: 0.2;
  margin-bottom: 10px;
  margin-top: 20px;
}